.marker-red .gm-style-iw.gm-style-iw-c {
  background: #f96270;
}
.marker-red .gm-style-iw-d {
  overflow: hidden !important;
  padding: 20px;
}
.marker-red .gm-style .gm-style-iw-t::after {
  background: #f96270;
}

.marker-yellow .gm-style-iw.gm-style-iw-c {
  background: #f9d477;
}
.marker-yellow .gm-style-iw-d {
  overflow: hidden !important;
  padding: 20px;
}
.marker-yellow .gm-style .gm-style-iw-t::after {
  background: #f9d477;
}

.marker-green .gm-style-iw.gm-style-iw-c {
  background: #38bb8d;
}
.marker-green .gm-style-iw-d {
  overflow: hidden !important;
  padding: 20px;
}
.marker-green .gm-style .gm-style-iw-t::after {
  background: #38bb8d;
}
