.dashboard-card {
  padding: 20px;
  margin: 20px 0;
  height: 190px;
  border: 0;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.05);
  overflow-y: hidden;
  border-radius: 0;
  overflow-x: auto;
}
.big-dashboard-card {
  height: 400px;
}
.dashboard-card img {
  margin-bottom: 8px;
}
