.ghostButton:hover,
button.btn-outline-primary.btn.ghostButton:active,
.defaultButton:hover,
button.btn-primary.btn.defaultButton:active {
  border-color: #38bb8d;
  background-color: #38bb8d;
  opacity: 0.8;
  color: #fff !important;
}

.defaultButton {
  background-color: #38bb8d;
  height: 40px;
}

.ghostButton {
  border-color: #38bb8d;
  background-color: transparent;
  color: #38bb8d;
}
